[user]
	email = inigomaringarcia@gmail.com
	name = Iñigo Marin
  user = InigoMarin
[credential]
	helper = cache --timeout=3600
[difftool]
  prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[core]
  excludesfile = ~/.gitignore
  editor = vim
[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
[github]
	user = InigoMarin
